name: Build Package

on:
  push:
    branches: [ "main", release-*, develop ]
  pull_request:
    branches: [ "main", release-*, develop ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          submodules: 'true'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - name: Build and Pack Nugets
        run: dotnet pack DaMIME/DaMIME.csproj --configuration Release --output nupkg
        
      - name: Upload Nuget
        uses: actions/upload-artifact@v4
        with:
          name: nupkg
          path: nupkg/*.nupkg
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - name: Run DaMIME.Tests
        run: dotnet test DaMIME.Tests/DaMIME.Tests.csproj -- --report-trx --results-directory ../../dotnet-test-results

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-test-results
          path: dotnet-test-results
        if: ${{ always() }}